body{
    background-image: url("./final.jpg");
    background-size: contain;
    
}
li {
  list-style: None;
}

header {
  background-image: url("./style.png");
}
a:link 
{ 
 text-decoration:none; 
} 
a {
    font-family: Impact, fantasy
}
h1 {
    text-shadow: 0.1em 0.1em 0.05em grey;
    font-size: 2rem;
}
footer>section>section a {
    font-size: 130%
}
header>nav>ul a{
    font-size: 2em;
    color:  4b137c;
    font-family: cursive;
}
footer>section {
    background-color: 29222f;
    border-radius: 10% 30% 60% 0%;
}
footer {
    background-color: 29222f;
    border-radius: 10% 30% 20% 5%;
    background-color: 514b58
}
footer>section>section>p {
    font-size: 1.2em
}
aside>ul>li>section li{
    border: solid;
    margin-right: 8.5em
}
