body{
    display: flex;
    flex-wrap: wrap;
}

 /*CSS du Header*/

header{
    margin-left: 10%;
    flex-basis: 80%;
    background-position: 50% 40%;
    height: 10em;
    background-size: cover;
    margin-bottom: 5em;
}

h1{
    margin-left: 1em;
    margin-bottom: 3.5em;
}

header>nav>ul {
    display: flex;
    flex-wrap: wrap;
    
}

header>nav>ul>li {
    padding-left: 3em;
    padding-right: 3em;
    border: solid;
    border-left: None;
}

header>nav>ul>li:first-child{
    border-left: solid;
}

header>nav {
    margin-left: 3em;
    padding-right: 3.8em;
}

 /*CSS du Main*/

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #F1F1F1;
    flex-basis: 70%;
    margin-left: 15%;
}

main>ul>li{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    
}

main>ul{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    flex-grow: 1;
}
main>ul>li>section {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    
}
main>ul>li>section>section {
    display: flex;
    flex-wrap: wrap;    
}
main>ul>li h2 {
    flex-basis: 70%;
    margin-left: 1em;
}

main>ul>li p {
    flex-basis: 80%;
    margin-left: 1em;
}

main>ul>li>section>img{
    width: 15em;
}

 /*CSS du Aside*/


aside {
    flex-basis: 10%;
    background-color: grey
}
aside img{
    width: 3em;
    margin-right: 1em
}

aside>ul>li>section>section {
    display: flex;
    flex-wrap: wrap;
}
aside>ul>li>section>section>p {
    font-size: 80%;
    flex-basis: 70%;
}
.email{
    font-size: 80%
}

 /*CSS du Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 3em
}

footer>section{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid;
    
}
.log{
    margin-left: 1em;
}
footer>section>nav>ul{
    display: flex;
    flex-wrap: wrap;
}
footer>section img{
    margin-left: 2em;
    width: 4em;
}
footer>section>section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
footer nav {
    margin-left: 3em;
}
footer p {
    margin-left: 1em;
}
footer,img {
    width: 10em;
}


